## Equal Weights Portfolio: Each stock in the portfolio has the same weight. If you invest in 5 stocks equally, each gets 20% of the capital.

In [ ]:
import pandas as pd
import numpy as np
import yfinance as yf
import math

## Load Stock list

In [17]:
tickers = pd.read_csv('top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

## Load the last Close Price and Market Cap for each stock

In [18]:
tickers_list = tickers['Ticker'].values.tolist()

def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period='1d', group_by='ticker', auto_adjust=False)
    
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A')
        stocks_data.append({
            "Ticker":  ticker,
            "Market Cap": market_cap,
            "Latest Price": latest_price
        })
    
    stocks_df = pd.DataFrame(stocks_data)

    return stocks_df

df = fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  19130893729792   1413.699951
1        TCS.NS  12481686667264   3449.800049
2   HDFCBANK.NS  14801509023744   1932.099976
3       INFY.NS   6439817969664   1553.800049
4  ICICIBANK.NS  10345067315200   1450.500000

## Sort the stock values by market cap

In [19]:
df = df.sort_values(by="Market Cap", ascending=False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  19130893729792   1413.699951
2     HDFCBANK.NS  14801509023744   1932.099976
1          TCS.NS  12481686667264   3449.800049
8   BHARTIARTL.NS  11114383409152   1854.099976
4    ICICIBANK.NS  10345067315200   1450.500000
6         SBIN.NS   7261517250560    813.650024
3         INFY.NS   6439817969664   1553.800049
7   BAJFINANCE.NS   5660874375168   9118.500000
5   HINDUNILVR.NS   5574778421248   2371.600098
9          ITC.NS   5247161860096    419.299988
12          LT.NS   5060480204800   3679.600098
13     HCLTECH.NS   4419586883584   1631.500000
10   KOTAKBANK.NS   4102952845312   2063.600098
16   SUNPHARMA.NS   4017918050304   1674.599976
29      MARUTI.NS   3864013045760  12290.000000
15    AXISBANK.NS   3702831185920   1194.400024
43         M&M.NS   3629990805504   3025.899902
18  ULTRACEMCO.NS   3292986867712  11195.000000
34  BAJAJFINSV.NS   3236234526720   2029.000000
21        NTPC.NS   3228006088704    332.549988
35  ADANIPORTS.NS   3171085451264   1468.000000
26       TITAN.NS   3127276994560   3525.500000
20        ONGC.NS   2998630875136    238.309998
11    ADANIENT.NS   2907148648448   2518.800049
22   POWERGRID.NS   2726953222144    293.049988
23  TATAMOTORS.NS   2619726888960    711.599976
48       DMART.NS   2619622293504   4025.500000
17       WIPRO.NS   2593358086144    247.679993
30   COALINDIA.NS   2463243173888    399.700012
32    JSWSTEEL.NS   2389466152960    978.799988
14  ASIANPAINT.NS   2174096113664   2266.699951
45         IOC.NS   2024697626624    143.380005
41   TATASTEEL.NS   1983514935296    159.039993
27    DIVISLAB.NS   1735901708288   6539.000000
40      GRASIM.NS   1712384901120   2524.100098
19    HDFCLIFE.NS   1651586760704    766.700012
25  ADANIGREEN.NS   1637365579776   1009.099976
47  PIDILITIND.NS   1566740578304   3080.199951
44   EICHERMOT.NS   1470265032704   5361.000000
31        BPCL.NS   1373572300800    316.600006
28       TECHM.NS   1370899218432   1549.099976
37   BRITANNIA.NS   1350065192960   5605.000000
36       CIPLA.NS   1187465789440   1470.199951
39    SHREECEM.NS   1061612748800  29410.000000
33     DRREDDY.NS   1038546763776   1247.699951
49     HDFCAMC.NS   1031529496576   4821.200195
38     HAVELLS.NS    949846212608   1514.800049
46     SBICARD.NS    879268659200    923.650024
42  HEROMOTOCO.NS    846527660032   4232.299805
24  INDUSINDBK.NS    633137201152    812.700012

## Taking top 10 stocks

In [20]:
df = df.head(10)
df.reset_index(drop=True, inplace=True, allow_duplicates=False)
df

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  19130893729792   1413.699951
1    HDFCBANK.NS  14801509023744   1932.099976
2         TCS.NS  12481686667264   3449.800049
3  BHARTIARTL.NS  11114383409152   1854.099976
4   ICICIBANK.NS  10345067315200   1450.500000
5        SBIN.NS   7261517250560    813.650024
6        INFY.NS   6439817969664   1553.800049
7  BAJFINANCE.NS   5660874375168   9118.500000
8  HINDUNILVR.NS   5574778421248   2371.600098
9         ITC.NS   5247161860096    419.299988

## Implementing an equal-weighted portfolio strategy to top 10 stocks

In [21]:
portfolio_size = int(input("Enter the amount you want to invest: "))
position_size = portfolio_size / len(df.index)
position_size

150000.0

In [22]:
df['No. of shares you can buy'] = df['Latest Price'].apply(lambda price: math.floor(position_size/price))
df

C:\Users\Payalkumavat\AppData\Local\Temp\ipykernel_4908\1767519146.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['No. of shares you can buy'] = df['Latest Price'].apply(lambda price: math.floor(position_size/price))

          Ticker      Market Cap  Latest Price  No. of shares you can buy
0    RELIANCE.NS  19130893729792   1413.699951                        106
1    HDFCBANK.NS  14801509023744   1932.099976                         77
2         TCS.NS  12481686667264   3449.800049                         43
3  BHARTIARTL.NS  11114383409152   1854.099976                         80
4   ICICIBANK.NS  10345067315200   1450.500000                        103
5        SBIN.NS   7261517250560    813.650024                        184
6        INFY.NS   6439817969664   1553.800049                         96
7  BAJFINANCE.NS   5660874375168   9118.500000                         16
8  HINDUNILVR.NS   5574778421248   2371.600098                         63
9         ITC.NS   5247161860096    419.299988                        357