## Equal Weights Portfolio: Each stock in the portfolio has the same weight. If you invest in 5 stocks equally, each gets 20% of the capital.

In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
import math

## Load Stock list

In [ ]:
tickers = pd.read_csv('top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

## Load the last Close Price and Market Cap for each stock

In [11]:
tickers_list = tickers['Ticker'].values.tolist()

def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period='1d', group_by='ticker', auto_adjust=False)
    
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A')
        stocks_data.append({
            "Ticker":  ticker,
            "Market Cap": market_cap,
            "Latest Price": latest_price
        })
    
    stocks_df = pd.DataFrame(stocks_data)

    return stocks_df

df = fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  19228329508864   1420.900024
1        TCS.NS  12530892144640   3463.399902
2   HDFCBANK.NS  14899567656960   1944.900024
3       INFY.NS   6476703727616   1562.699951
4  ICICIBANK.NS  10311547486208   1445.800049

## Sort the stock values by market cap

In [12]:
df = df.sort_values(by="Market Cap", ascending=False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  19228329508864   1420.900024
2     HDFCBANK.NS  14899567656960   1944.900024
1          TCS.NS  12530892144640   3463.399902
8   BHARTIARTL.NS  11126971564032   1856.199951
4    ICICIBANK.NS  10311547486208   1445.800049
6         SBIN.NS   7249468588032    812.299988
3         INFY.NS   6476703727616   1562.699951
7   BAJFINANCE.NS   5699364978688   9180.500000
5   HINDUNILVR.NS   5520008151040   2348.300049
9          ITC.NS   5231519203328    418.049988
12          LT.NS   5054291509248   3675.100098
13     HCLTECH.NS   4433402396672   1636.599976
10   KOTAKBANK.NS   4125022224384   2074.699951
16   SUNPHARMA.NS   4025116000256   1677.599976
29      MARUTI.NS   3873130676224  12319.000000
15    AXISBANK.NS   3696010723328   1192.199951
43         M&M.NS   3571088621568   2976.800049
18  ULTRACEMCO.NS   3297399013376  11210.000000
21        NTPC.NS   3241110405120    333.899994
34  BAJAJFINSV.NS   3217732665344   2017.400024
26       TITAN.NS   3153444995072   3555.000000
35  ADANIPORTS.NS   3095048749056   1432.800049
20        ONGC.NS   3012345987072    239.399994
11    ADANIENT.NS   2908417949696   2519.899902
22   POWERGRID.NS   2696245411840    289.750000
23  TATAMOTORS.NS   2648810455040    719.500000
17       WIPRO.NS   2614194601984    249.669998
48       DMART.NS   2604394610688   4002.100098
30   COALINDIA.NS   2448452485120    397.299988
32    JSWSTEEL.NS   2425352093696    993.500000
14  ASIANPAINT.NS   2166806806528   2259.100098
41   TATASTEEL.NS   2008209293312    161.020004
45         IOC.NS   2004786741248    141.970001
27    DIVISLAB.NS   1755280965632   6612.000000
40      GRASIM.NS   1727106383872   2545.800049
19    HDFCLIFE.NS   1673451274240    776.849976
25  ADANIGREEN.NS   1645884211200   1014.349976
47  PIDILITIND.NS   1580474171392   3107.199951
44   EICHERMOT.NS   1462723018752   5333.500000
28       TECHM.NS   1392846438400   1573.900024
31        BPCL.NS   1381381439488    318.399994
37   BRITANNIA.NS   1327303098368   5510.500000
36       CIPLA.NS   1183831162880   1465.699951
39    SHREECEM.NS   1068290736128  29595.000000
33     DRREDDY.NS   1041460101120   1251.199951
49     HDFCAMC.NS   1023356305408   4783.000000
38     HAVELLS.NS    957496164352   1527.000000
46     SBICARD.NS    876793561088    921.049988
42  HEROMOTOCO.NS    861928882176   4309.299805
24  INDUSINDBK.NS    636448210944    816.950012

## Implementing an equal-weighted portfolio strategy to top 10 stocks

In [ ]:
portfolio_size = int(input("Enter the amount you want to invest: "))
position_size = portfolio_size / len(df.index)